@mixin selectable {
  background: transparent;
  border-radius: 10px;
  transition: background 0.2s;
}

.column {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.15);
  border-radius: 20px;
  min-width: 160px;
  min-height: 170px;

  .colorName {
    letter-spacing: 3px;
    cursor: pointer;
    padding: 6px 12px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    font-size: 20px;

    @include selectable();
  }

  .lockBtn:hover,
  .colorName:hover {
    background: rgba($color: #000000, $alpha: 0.2);
  }

  .menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 50px;
    .functionBtn,
    .lockedBtn {
      font-size: 25px;
      padding: 8px 8px 4px 8px;
      cursor: pointer;
      transition: opacity 0.2s;
      display: grid;
      place-items: center;
    }
    .functionBtn {
      opacity: 0;
    }
    .lockedBtn {
      opacity: 1;
    }
  }
}

.column::before {
  content: "Copied";
  position: absolute;
  top: -100%;
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  letter-spacing: normal;
  color: white;
  background: rgba($color: #000000, $alpha: 0.3);
  border-radius: 5px;
  pointer-events: none;
  text-align: center;
  transition: top 1.2s;
}

.column:hover {
  .menu {
    .functionBtn {
      opacity: 0.5;
      transition: opacity 0.2s;
    }

    .functionBtn:hover {
      opacity: 1;
      transition: opacity 0.2s;
    }
  }
}

@media (max-width: 900px) {
  .column {
    flex-direction: row;
  }
}
