@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body,
html,
.root,
.App {
  min-height: 100vh;
  width: 100%;
  background: #f3f3f3;
}

.App {
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.copied::before {
  top: 0;
  transition: all 0.3s;
}
