@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body,
html,
.root,
.App {
  min-height: 100vh;
  width: 100%;
}

.App {
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.copied::before {
  opacity: 1;
  transition: all 0.1s;
}

@media (max-width: 870px) {
  .App {
    flex-direction: column;
  }
}
